<link
  href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,700;0,800;1,700&family=Lato:ital,wght@1,700&family=Raleway:ital,wght@0,500;0,800;1,600&display=swap"
  rel="stylesheet"
/>

<div class="bigbody">
    <section class="home">
      <div class="container">
        <div class="navbarsec">
          <nav class="navbar navbar-expand-lg navbar-transparent">
            <a class="navbar-brand" href="#">
              <img src="../../assets/logo.png" />
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#"
                    >Home <span class="sr-only">(current)</span></a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Portfolio</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">Pages</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">Blog</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
                </li>

                <div class="rinav">
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <img src="../../assets/united-states.png" />
                      EN</a
                    >
                  </li>
                  <div class="minicon">
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-sliders-h"></i>
                      </a>
                    </li>
                  </div>
                </div>
              </ul>
            </div>
          </nav>
        </div>
      </div>

      <div class="container p-5">
        <div class="row">

          <div class="col-md-5">
            <div class="head text-right wow bounceInLeft">
              <h2>Follow the rules and grow</h2>
              <p>
                Duie autem vel eum iriere dolor in henderit in vulputate veilt
                esse mugiate nussent lupt te fegit nulla faacilesi.p-5
              </p>
              <button>Find Out How
                  <i class="fas fa-long-arrow-alt-right"></i>
                
              </button>
            </div>
          </div>

          <div class="col-md-7">
            <div class="headpic">
             <img class="w-100" src="../../assets/header.png">


            </div>
          </div>
        </div>
      </div>
    </section>
  </div>


  <section class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-6  wow bounceInLeft">
          <div class="big pic wow bounceInLeft">
            <img class="w-100" src="../../assets/graphic2.png" />
          </div>
        </div>

        <div class="offset-md-1 col-md-5">
          <div class="contain wow bounceInRight">
            <span>What We do</span>
            <h2>
              Greate a Beutiful <br />
              Portofiolo gallery
            </h2>
            <p>
              Nam liber tempor cum loluta nobis lefiend option congue nihil
              imperdiet doming uhsnfocl mazim places facer possim assum. s
              laboriosam similique ipsa explicabo verit s laboriosam similique
              ipsa s laboriosam similique ipsa similique ipsa
            </p>
            <button class="bt">Learn More</button>
          </div>
        </div>
      </div>
    </div>
  </section>