  <!--Start fotter  Section-->

  <section  class="fotter">
    <div class="container p-3 text-center">
        <div class="row p-5">
            <div class="col-md-3 text-center">
                <div class="fristfot text-center">
                <div class="row">
                     
                    <div class="col-md-6">
                        <img src="../../assets/logo-footer.png">
                    </div>
                    <div class="comp col-md-6 text-center">
                        <h4>Comapny</h4>
                        <ul>
                            <a class="linkk" href="#"> <li>About Us</li></a>
                            <a class="linkk" href="#"> <li>Our Team</li></a>
                            <a class="linkk" href="#"> <li>Careers<div class="hireing"> HIRING</div>
                            </li></a>
                            <a class="linkk" href="#"> <li>Contact</li></a>
                           
                        </ul>
                    </div>
                </div>
                </div>
            </div>

            <div class="col-md-3 text-center">
                <div class="comp">
                    <h4>Resoures</h4>
                    <ul class="list-unlisted">

                        <a class="linkk" href="#"> <li>Support</li></a>
                        <a class="linkk" href="#"> <li>Blog</li></a>
                        <a class="linkk" href="#"> <li>Press Kit</li></a>
                        <a class="linkk" href="#"> <li>Live Chata</li></a>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 text-center">
                <div class="comp">
                    <h4>About Us</h4>
                    <ul>

                        <a class="linkk" href="#"> <li>Features</li></a>
                        <a class="linkk" href="#"> <li>HOw to work it</li></a>
                        <a class="linkk" href="#"> <li>Plans & Pricing</li></a>
                        <a class="linkk" href="#"> <li>Login</li></a>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 text-center">
                <div class="comp">
                    <h4>Get In Touch</h4>
                    <div class="list">
                        <ul class="fa-ul">
                            <a class="lonk" href="#"><li><span class="bod fa-li"><i class="fas fa-map-marker-alt"></i></span>157 5th Avenue</li>
                            </a>

                            <a class="lonk" href="#"> <li><span class="fa-li"><i class="fas fa-phone"></i></span>(805)123 456 789</li>
                            </a>
                            <a class="lonk" href="#"> <li><span class="fa-li"><i class="fas fa-envelope"></i></span>(805)123 456 789</li></a>
                            <a class="lonk" href="#"> <li><span class="bod fa-li"><i class="fas fa-phone"></i></span>support@email.com</li>
                            </a>
                        </ul>
                        
                        </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="copyright"> Copyright 2018 @ Kl-Webmedia | All Rights Reserved.</div>
        </div>
    </div>
</section>

 <!--End Footer  Section-->
