   <!--Start pages Section-->


   <section class="pages">
    <div class="container text-center page">
        <div class="contant wow bounceInDown ">
            <span>CAAL TO ACTION</span>
            <h2>Start Building your website with a modern  CMS

            </h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi ea maxime at quis eveniet magnam laboriosam animi earum consequuntur alias accusamus, placeat maiores voluptas distinctio numquam vero nemo quas doloribus.</p>
    </div>
    <div class=" box wow bounceInUp " data-wow-duration="1.9s">
        <div class="row ">
        <div class="col-md-6 col-sm-6">
            <div class="background">
            <img  src="../../assets/Form 22.png"></div>
            <h3>Userfreindly Experince</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia eaque suscipit repudiandae est fuga ipsam eveniet, quis eligendi consequatur, illum itaque inventore, blanditiis nulla? Quae numquam deleniti a optio explicabo.

            </p>
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="background">
                    <img src="../../assets/Form 23.png"></div>
                    <h3>Customer Live Statistic</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa rerum odit aliquam praesentium fugiat perferendis, exercitationem nihil. Tempora, amet nesciunt? Beatae ut exercitationem atque, cumque ad possimus minima fugiat illo!

                    </p>
                    </div>
                    </div>
    </div>
</div>

</section>

  <!--End pages Section-->