<!--Start Clents Section-->

<section class="clents">
  <div class="container text-center">
    <div class="til">
      <span>Features and Servies</span>
      <h2>How we satisfy our clients</h2>
    </div>
  </div>

  <div class="container text-center p-5 Sec">
    <div class="row p-2">
      <div class="col-md-4 wow bounceInLeft">
        <div class="bigbox">
          <div class="backimg1 backimg">
            <img src="../../assets/Form 15.png" />
          </div>
          <div class="head">
            <h4>Dashboard Features</h4>
            <p>
              consetetur sadinpsingelietr, sed diam nonumy eirmod tempor
              invident ur et dolor erat.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 wow bounceInUp" data-wow-duration="1.9s">
        <div class="bigbox">
          <div class="backimg2 backimg">
            <img src="../../assets/Form 5.png" />
          </div>
          <div class="head">
            <h4>User Freindly Excperince</h4>
            <p>
              consetetur sadinpsingelietr, sed diam nonumy eirmod tempor
              invident ur et dolor erat.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 wow bounceInRight" data-wow-duration="2s">
        <div class="bigbox">
          <div class="backimg3 backimg">
            <img src="../../assets/Form 7.png" />
          </div>
          <div class="head">
            <h4>Color Shemes</h4>
            <p>
              consetetur sadinpsingelietr, sed diam nonumy eirmod tempor
              invident ur et dolor erat.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row p-2">
      <div class="col-md-4 wow bounceInLeft" data-wow-duration="2.3s">
        <div class="bigbox">
          <div class="backimg4 backimg">
            <img src="../../assets/Form 15.png" />
          </div>
          <div class="head">
            <h4>Dashboard Features</h4>
            <p>
              consetetur sadinpsingelietr, sed diam nonumy eirmod tempor
              invident ur et dolor erat.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4  wow bounceInDown" data-wow-duration="2.6s">
        <div class="bigbox">
          <div class="backimg5 backimg">
            <img src="../../assets/Form 5.png" />
          </div>
          <div class="head">
            <h4>User Freindly Excperince</h4>
            <p>
              consetetur sadinpsingelietr, sed diam nonumy eirmod tempor
              invident ur et dolor erat.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 wow bounceInRight" data-wow-duration="2.9s">
        <div class="bigbox">
          <div class="backimg6 backimg">
            <img src="../../assets/Form 7.png" />
          </div>
          <div class="head">
            <h4>Color Shemes</h4>
            <p>
              consetetur sadinpsingelietr, sed diam nonumy eirmod tempor
              invident ur et dolor erat.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--End Clents Section-->
