  <!--Start offers  Section-->

  <section class="offers">

    <div class="container text-center p-5">
        <div class="til">
        <span>Plans And Pricing</span>
        <h2>Check our best offers</h2>
        </div>
    </div>

    <div class="container p-5">
        <div class="row p-5 wow bounceInDown">

            <div class="col-md-4">

                <div class="contnt">
                    <div class="borderrr bod1"></div>
                  <div class="min-box">

                    <h4>Pricing & Starter</h4>
                    <div class="pic">
                    <h5>$<span>29</span></h5></div>
                 
                  </div>
                  <div class="littleprice">
                      <h4>Stet clita kased gubergen,no sea<br>
                    takimata sanctus est lorem ispum.</h4>

                    <ul class="fa-ul">
                        <li><span class="fa-li"><img src="../../assets/check Kopie 4.png"></span>Dashboard enterance</li>
                                <li><span class="fa-li"><img src="../../assets/check Kopie 4.png"></span>1x User Account</li>
                                <li><span class="fa-li"><img src="../../assets/check Kopie 4.png"></span>1x E-Mail Account</li>
                                <li><span class="fa-li"><img src="../../assets/check Kopie 4.png"></span>Webhosting</li>
                                <li><span class="fa-li"><img src="../../assets/check Kopie 4.png"></span>Customer Support</li>
                      </ul>
         
                  <button class="bttn1">Load More</button>
                </div>
                </div>
                </div>

                <div class="col-md-4">

                    <div class="contnt">
                        <div class="borderrr bod2"></div>
                      <div class="min-box">

                        <h4>Pricing & Starter</h4>
                        <div class="pic">
                        <h5>$<span>29</span></h5></div>
                     
                      </div>
                      <div class="littleprice">
                          <h4>Stet clita kased gubergen,no sea<br>
                        takimata sanctus est lorem ispum.</h4>

                        <ul class="fa-ul">
                            <li><span class="fa-li"><img src="../../assets/check Kopie 4.png"></span>Dashboard enterance</li>
                            <li><span class="fa-li"><img src="../../assets/check Kopie 4.png"></span>1x User Account</li>
                            <li><span class="fa-li"><img src="../../assets/check Kopie 4.png"></span>1x E-Mail Account</li>
                            <li><span class="fa-li"><img src="../../assets/check Kopie 4.png"></span>Webhosting</li>
                            <li><span class="fa-li"><img src="../../assets/check Kopie 4.png"></span>Customer Support</li>
                          </ul>
             
                      <button class="bttn2">Load More</button>
                    </div>
                    </div>
                    </div>

                    <div class="col-md-4 ">

                        <div class="contnt">
                            <div class="borderrr bod3"></div>
                          <div class="min-box">
    
                            <h4>Pricing & Starter</h4>
                            <div class="pic">
                            <h5>$<span>29</span></h5></div>
                         
                          </div>
                          <div class="littleprice">
                              <h4>Stet clita kased gubergen,no sea<br>
                            takimata sanctus est lorem ispum.</h4>
    
                            <ul class="fa-ul">
                                <li><span class="fa-li"><img src="../../assets/check Kopie 4.png"></span>Dashboard enterance</li>
                                <li><span class="fa-li"><img src="../../assets/check Kopie 4.png"></span>1x User Account</li>
                                <li><span class="fa-li"><img src="../../assets/check Kopie 4.png"></span>1x E-Mail Account</li>
                                <li><span class="fa-li"><img src="../../assets/check Kopie 4.png"></span>Webhosting</li>
                                <li><span class="fa-li"><img src="../../assets/check Kopie 4.png"></span>Customer Support</li>
                              </ul>
                 
                          <button class="bttn3">Load More</button>
                        </div>
                        </div>
                        </div>
        </div>
    </div>
</section>

 <!--End offers  Section-->
