<section class="portofolio">

    <div class="container text-center p-5">
            
                <div class="til">
        <span>Case Studies</span>
        <h2>Our Portfolio</h2>
        </div>
    </div>

    <div class="container text-center">
        <div class="headers d-inline-flex">
            <h3>All
                <div class="border"></div>
            </h3>
            <h4>WebDesgin</h4>
            <h4>Typo</h4>
            <h4>Pranding</h4>
            <h4>Deveolpment</h4>
        </div>
    </div>
 <div class="cl">
  <div class="container p-5 text-center ">
    <div class="bigSec">
       
        <div class="box1"></div>
        <div class="box2"></div>
        <div class="box3"></div>
        <div class="box4"></div>
        <div class="box5">
            <h4>Castus IIIustration Design</h4>
            <div class="border"></div>
            <span>mockup,desgin, insprition</span>
        </div>
        <div class="box6"></div>
        <div class="box7"></div>
    
   
     
    
     
        
       
    </div>
    <div class="bt button text-center">Load More</div>
    </div>
 </div>
    <div class="container p-5">
        <div class="row">
            <div class="col-md-6 wow bounceInLeft">
             <div class="us">
                 <span>WHAT WE DO</span>
                 <h2>We helps clients <br> to get more out of business

                 </h2>

                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quia atque repudiandae velit assumenda aperiam, odio, beatae minima, dolores quis nobis praesentium! Commodi !

                 </p>
                 <button class="btn">Watch Video</button>
            
        </div>
    </div>

    <div class="col-md-6 wow bounceInRight">
        <div class="video">
        <img src="../../assets/play btn.png">
    </div>
        <div class="hashed">
            <img class="w-100" src="../../assets/light_dot.jpg">
        </div>

        <div class="hashed2">
            <img class="w-100" src="../../assets/light_dot.jpg">
        </div>
    </div>
</div>
</div>

</section>
